@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

html{
    scroll-behavior: smooth;
}

h1, h6 {
    font-family: 'Mulish', sans-serif;
}

.jumbotron-fluid{
    background-image: url(/images/Background/h_img.jpg);
    background-size: cover;
    height: auto;
    width: auto;
}