@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Home Page */

h1, h6 {
    font-family: 'Mulish', sans-serif;
}

.jumbotron-fluid{
    background-image: url(../images/h_img.jpg);
    background-size: cover;
    height: 668px;
    width: auto;
}

.container{
    position: relative;
    bottom: 10px;
    width: 50%;
    top: 30%;
}

.click {
    margin-top: 150px;
}

#bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
}

/* /Home Page */

/* About Us */

p{
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

/* /About Us */

/* Services */
.services{
    background-image: url(../images/s_image.jpg);
    height: 400px;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
}

.overlay{
    position: relative;
    top: 30px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
/* /Services */

/* What We Do */

.what-we-do{
    font-family: 'Mulish', sans-serif;
    padding-top: 40px;
}
.what-we-do h1 {
    margin-top: 30px;
}
figcaption{
    margin-top: 20px;
}

.b-text{
    font-family: 'Mulish', sans-serif;
    text-align: center;
}

/* Portfolio */
.portimg {
    float: right;
    position: relative;
    margin: 5px;
    /*color: #333;*/
}
.portimg .porttext {
    display: none;
    opacity: 1;
    background-color:rgba(255, 255, 255, 0.6);
    width: auto;
    position: absolute;
    bottom: 0;
    color: darkslategrey;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px;
    height: 100%;
}
/* /What We Do */

/* Contact Us */
.contacts {
    background-image: url(../images/c_image.jpg);
    background-size: cover;
}

.contacts h1 {
    position: relative;
    top: 30px;
}
.text{
    margin-bottom: 20px;
}

.contact-overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.form-control{
    background-color: #66000000;
    color: white;
}
.input{
    margin-top: 30px;
}
.b-text{
    font-family: 'Comfortaa', cursive;
}
.m-text{
    font-family: 'Raleway', sans-serif;
}
.name{
    margin-right: 5px;
}
input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
.email{
    margin-right: 5px;
}
/* /Contact Us */