@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Open+Sans+Condensed:wght@300&family=Raleway:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Home Page */

h1, h6 {
    font-family: 'Mulish', sans-serif;
}

.jumbotron-fluid{
    background-image: url(/images/Background/h_img.jpg);
    background-size: cover;
    height: 668px;
    width: auto;
}

.container{
    position: relative;
    bottom: 10px;
    width: 50%;
    top: 30%;
}

.click {
    margin-top: 150px;
}

#bounce {
    animation: bounce 3s infinite;
}

@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-50px);
    }
}

/* /Home Page */

/* About Us */

p{
    text-align: center;
    font-family: 'Mulish', sans-serif;
}

/* /About Us */

/* Services */
.services{
    background-image: url(/images/Background/s_image.jpg);
    width: auto;
    height: 300px;
}

.overlay{
    position: relative;
    top: 30px;
    margin-bottom: 20px;
}
/* /Services */